/* Work sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

/* Common shared styles */

*{
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    padding: 20px 25px;
    cursor: pointer;
}

/* header styles */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: #424242;
}

.nav-title{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

/* banner styles */

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.banner img{
    width: 100%;
    margin-top: 20px;
}

/* main styles */

main{
    width: 1440px;
    margin: 0 auto;
}

/* features styles */

.features-container{
    display: flex;
    align-items: center;
    margin-top: 75px;
}

.features-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.features-content{
    padding-left: 70px;
    padding-right: 70px;
}

.features-title{
    font-size: 45px;
}

.quick-list{
    color: #727272;
    font-weight: 500;
}

.of-our, .features{
    font-weight: 700;
}

.of-our{
    color: #131313;
}

.features{
    color: #FF900E;
}

.features-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 30px;
}

/* features list styles */

.features-list-container{
    display: flex;
    margin-top: 120px;
    gap: 120px;
}

.features-list-content .features-list-card{
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features-list-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.features-list-content .features-list-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-list-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.features-list-card-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    text-align: center;
    width: 340px;
    padding: 40px;
}

.ten-years-badge-title{
    color: #FFF;
    font-size: 4rem;
    font-weight: 700;
}

.ten-years-badge-description{
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 500;
}

/* facts styles */

.facts-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.facts-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.facts-card{
    display: flex;
    justify-content: space-around;
}

.facts-card .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 50px 60px;
}

.facts-card .card-stats{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;

}

.facts-card .card-title{
    color: #727272;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 7px;
}

/* Sponsors Style */

.sponsors-container{
    margin-top: 120px;
    text-align: center;
}

.sponsors-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.sponsors-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.sponsors-image{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

/* Responsive Media Queries */

/* For small devices */

@media screen and (max-width:576px){
    header{
        padding: 20px;
    }
    nav, .features-container, .facts-card, .sponsors-image{
        flex-direction: column;
    }
    main{
        width: 100%;
    }
    .features-image{
        grid-template-columns: 1fr;
    }
    .features-content, .facts-card{
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card{
        gap: 20px;
    }
    .facts-card .card{
        padding: 10px;
    }
    .sponsors-image img{
        width: 165px;
    }
    .sponsors-image{
        gap: 40px;
        align-items: center;
    }
}

/* Medium Devices */

@media screen and (min-width:576px) and (max-width:960px){
    header{
        padding: 50px;
    }
    main{
        width: 100%;
    }
    nav, .features-container, .sponsors-image{
        flex-direction: column;
    }
    .facts-card{
        gap: 10px;
    }
    .facts-card .card{
        padding: 10px;
    }
    .sponsors-image img{
        width: 165px;
    }
    .sponsors-image{
        gap: 40px;
        align-items: center;
    }
}