h1{
    color: brown;
}
li{
    color: darkblue;
}
#fruits-title{
    color: aqua;
}
#places-title{
    color: red;
}
.important-places{
    color: black;
}
.fruits-container li{
    color: deeppink;
}

.text-center{
    text-align: center;
}

.large-text{
    font-size: 50px;
}